<% if flash[:alert].present? %>
  <div class="form-errors">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>
<% if model.errors.any? %>
  <div class="form-errors">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
