<div class="welcome-container">
  <h1>節約は収入</h1>
  <p>日々の節約を記録して、収入を意識化しましょう！</p>
  <div class="welcome-buttons">
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary" %>
  </div>
</div>
