<div class="settings-container">
  <h1>設定</h1>
  <div class="settings-form">
    <h2>時給の設定</h2>
    <%= form_with url: update_hourly_rate_path, method: :patch, local: true do |f| %>
      <%= f.number_field :hourly_rate, placeholder: "例: 1200", class: "form-control" %>
      <%= f.submit "時給を保存する", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="logout-button">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
